*{
    font-family: 'plus jakarta sans';
}
.caption-large{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}
.body-regular{
font-style: normal;
font-weight: 500;
font-size: 1rem;
line-height: 22px;
}
.body-regular{
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 22px;
}
.heading1{
    font-weight: 600;
font-size: 2.75rem;
line-height: 62px;
}
.flex{
    display: flex;
}
.flex-direction-column{
    flex-direction: column;
}

.flex-direction-row{
    flex-direction: row;
}
.justify-content-center{
    justify-content: center;
}

.align-items-center{
   align-items: center;
}
.flex-center{
    justify-content: center;
    align-items: center;
    display: flex;
}
.button-medium{
    height: 48px;
    width: 100%;
    border-radius: 3px ;
}

.button-accent{
    background-color: var(--blue400);
    color: var(--background);
    transition: 0.3s;
}
.button-accent:hover{
    background-color: var(--blue500);
}

.button:active{
    transform:scale(0.95);
}

input[type='submit']{
    cursor: pointer;
border:none;
outline:none;
}